!*.bas
RougeLike/

fzxNGN_BASE_v2/subfunclist.txt

fzxNGN_BASE_v2/Docs.txt

*.txt

fzxDemo/fzxNGNSoftbody

fzxNGN_BASE_v2/subfuncLister

fzxDemo/fzxNGNOrbitalMechanics

fzxDemo/fzxNGNMechanical

fzxDemo/fzxNGNEntropy

fzxDemo/fzxNGNCuttingBoardSquares

fzxDemo/fzxNGNCuttingBoard

fzxNGN_BASE_v2/subfuncLister.bas

fzxDemo/fzxNGNCloth

fzxDemo/fzxNGNBBMenu

fzxDemo/fzxNGNBareBones

fzxDemo/fzxDemo

fzxDemo/.nfs0000000013e98f6d0000000b

fzxDemo/.nfs0000000013e98f6400000005

fzxDemo/.nfs0000000013e98f4e00000006

fzxDemo/.nfs0000000013e98e6e0000000a
